/* Carousel styling */
#img-header,
.img-background {
  height: 100vh;
}

.img-background {
  background-image: url(./img/laptop-g41666977c_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}


/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #img-header {
    margin-top: -58.59px;
  }
}

.navbar .nav-link {
  color: #fff !important;
}

/* ABOUT-ME */


.about-me{
    background-image: linear-gradient(16deg, rgba(116, 116, 116,0.02) 0%, rgba(116, 116, 116,0.02) 25%,transparent 25%, transparent 96%,rgba(177, 177, 177,0.02) 96%, rgba(177, 177, 177,0.02) 100%),linear-gradient(236deg, rgba(148, 148, 148,0.02) 0%, rgba(148, 148, 148,0.02) 53%,transparent 53%, transparent 59%,rgba(56, 56, 56,0.02) 59%, rgba(56, 56, 56,0.02) 100%),linear-gradient(284deg, rgba(16, 16, 16,0.02) 0%, rgba(16, 16, 16,0.02) 46%,transparent 46%, transparent 71%,rgba(181, 181, 181,0.02) 71%, rgba(181, 181, 181,0.02) 100%),linear-gradient(316deg, rgba(197, 197, 197,0.02) 0%, rgba(197, 197, 197,0.02) 26%,transparent 26%, transparent 49%,rgba(58, 58, 58,0.02) 49%, rgba(58, 58, 58,0.02) 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
}


#cd-timeline {
  position: relative;
  padding: 2em 0;
background-color: #FCFCFC;
}

#cd-timeline:before {
  content: "";
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

@media only screen and (min-width: 1170px) {
  #cd-timeline:before {
      left: 50%;
      margin-left: -2px;
  }
}

#cd-timeline .cd-timeline-block {
  position: relative;
  margin: 2em 0;
}

@media only screen and (min-width: 1170px) {
  #cd-timeline .cd-timeline-block {
      margin: 4em 0;
  }
}

#cd-timeline .cd-timeline-block .opquast {
  width: 50%;
}

#cd-timeline .cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}

#cd-timeline .cd-timeline-block:first-child {
  margin-top: 0;
}

@media only screen and (min-width: 1170px) {
  #cd-timeline .cd-timeline-block:first-child {
      margin-top: 0;
  }
}

#cd-timeline .cd-timeline-block:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
  #cd-timeline .cd-timeline-block:last-child {
      margin-bottom: 0;
  }
}

#cd-timeline .cd-timeline-block .cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

@media only screen and (min-width: 1170px) {
  #cd-timeline .cd-timeline-block .cd-timeline-img {
      width: 60px;
      height: 60px;
      left: 50%;
      margin-left: -30px;
      /* Force Hardware Acceleration in WebKit */
      -webkit-transform: translateZ(0);
      -webkit-backface-visibility: hidden;
  }
}

#cd-timeline .cd-timeline-block .cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}

@media only screen and (min-width: 1170px) {
  #cd-timeline .cd-timeline-block .cd-timeline-img.is-hidden {
      visibility: hidden;
  }
  #cd-timeline .cd-timeline-block .cd-timeline-img.bounce-in {
      visibility: visible;
      -webkit-animation: cd-bounce-1 0.6s;
      animation: cd-bounce-1 0.6s;
  }
}

#cd-timeline .cd-timeline-block .cd-timeline-content {
  position: relative;
  margin-left: 60px;
  border-radius: 0.25em;
  padding: 1em;
  -webkit-box-shadow: 0 3px 0 #d7e4ed;
  box-shadow: 0 3px 0 #d7e4ed;
}

@media only screen and (min-width: 1170px) {
  #cd-timeline .cd-timeline-block .cd-timeline-content {
      margin-left: 0;
      padding: 1.6em;
      width: 45%;
  }
}

#cd-timeline .cd-timeline-block .cd-timeline-content:before {
  content: "";
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #f8f9fa;
}

@media only screen and (min-width: 1170px) {
  #cd-timeline .cd-timeline-block .cd-timeline-content:before {
      top: 24px;
      left: 100%;
      border-color: transparent;
      border-left-color: #f8f9fa;
  }
}

#cd-timeline .cd-timeline-block .cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}

#cd-timeline .cd-timeline-block .cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}

#cd-timeline .cd-timeline-block .cd-timeline-content .cd-date {
  display: inline-block;
  float: left;
  padding: 0.8em 0;
  opacity: 0.7;
}

@media only screen and (min-width: 1170px) {
  #cd-timeline .cd-timeline-block .cd-timeline-content .cd-date {
      position: absolute;
      width: 100%;
      left: 122%;
      top: 6px;
  }
}

@media only screen and (min-width: 1170px) {
  #cd-timeline .cd-timeline-block:nth-child(even) .cd-timeline-content {
      float: right;
  }
  #cd-timeline .cd-timeline-block:nth-child(even) .cd-timeline-content:before {
      top: 24px;
      left: auto;
      right: 100%;
      border-color: transparent;
      border-right-color: #f8f9fa;
  }
  #cd-timeline .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
      left: auto;
      right: 122%;
      text-align: right;
  }
}

@media only screen and (min-width: 1170px) {
  .cssanimations .cd-timeline-block .cd-timeline-content.is-hidden {
      visibility: hidden;
  }
  .cssanimations .cd-timeline-block .cd-timeline-content.bounce-in {
      visibility: visible;
      -webkit-animation: cd-bounce-2 0.6s;
      animation: cd-bounce-2 0.6s;
  }
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
      -webkit-animation: cd-bounce-2-inverse 0.6s;
      animation: cd-bounce-2-inverse 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
      opacity: 0;
      -webkit-transform: scale(0.5);
  }
  60% {
      opacity: 1;
      -webkit-transform: scale(1.2);
  }
  100% {
      -webkit-transform: scale(1);
  }
}

@keyframes cd-bounce-1 {
  0% {
      opacity: 0;
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
  }
  60% {
      opacity: 1;
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
  }
  100% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}

@-webkit-keyframes cd-bounce-2 {
  0% {
      opacity: 0;
      -webkit-transform: translateX(-100px);
  }
  60% {
      opacity: 1;
      -webkit-transform: translateX(20px);
  }
  100% {
      -webkit-transform: translateX(0);
  }
}

@keyframes cd-bounce-2 {
  0% {
      opacity: 0;
      -webkit-transform: translateX(-100px);
      transform: translateX(-100px);
  }
  60% {
      opacity: 1;
      -webkit-transform: translateX(20px);
      transform: translateX(20px);
  }
  100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
}

@-webkit-keyframes cd-bounce-2-inverse {
  0% {
      opacity: 0;
      -webkit-transform: translateX(100px);
  }
  60% {
      opacity: 1;
      -webkit-transform: translateX(-20px);
  }
  100% {
      -webkit-transform: translateX(0);
  }
}

@keyframes cd-bounce-2-inverse {
  0% {
      opacity: 0;
      -webkit-transform: translateX(100px);
      transform: translateX(100px);
  }
  60% {
      opacity: 1;
      -webkit-transform: translateX(-20px);
      transform: translateX(-20px);
  }
  100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
}
