/* Carousel styling */
#img-header,
.img-background {
  height: 100vh;
}

.img-background {
  background-image: url(./img/laptop-g41666977c_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}


/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #img-header {
    margin-top: -58.59px;
  }
}

.navbar .nav-link {
  color: #fff !important;
}

/* ABOUT-ME */


.about-me{
  background-color: #eff1f3;
}

hr {
  width:50%;
  font-weight: bold;
}
.logo-mysql {
  height: 40px;
}
.logo-csharp{
  height: 40px;
}